<div class="row">
  <div class="col-md-6 mx-auto mt-3">
    <section id="page">
      <h3><i class="material-icons md-48">question_answer</i>
        firechat
      </h3>
      <div class="fc-caption">LA mensajeria mas rapida de todo</div>
      <button class="fc-login-button fc-sign-in-button mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect" id="btn-google">
        <i class="material-icons">account_circle</i>
        ingrese con Google</button>
      
      <button class="fc-login-button fc-sign-in-button mdl-button--raised mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">account_circle</i>
          Ingresar Facebook
      </button>
    </section>
  </div>
</div>